.clearfix{
	clear:both;
}
.bold{
	color:#444;
	font-weight: bold;
}
.time-type-icon{
	display: inline-block;
	width: 20px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.support-hours-mail{
	display: inline-block;
	span{
		margin-right: 5px;
	}
}
.support-hours-notices{
	div.notice {
		margin-top: 30px;
		margin-bottom: 0;
		p{
			line-height: 1.8;
		}
		a{
			color: #444;
		}
	}
}