@import "variables";
@import "materialize";
@import "global";
@import "admin-partials/widget";
@import "admin-partials/worktable";
@import "admin-partials/themes";
@import "admin-partials/settingsPage";
