.currentDate {
	display: none;
}

.support-hours-settings {

	p.submit {
		display: inline-block;
		padding: 0 !important;
		margin: 0 !important;
	}

	fieldset {
		padding: 0;
	}

	p,
	h3 {
		display: block;
		padding: 15px 0;
		margin: 0;
	}
}

.type-switch {

	label {
		display: block;
	}
}

.datepicker-controls .select-month input {
	width: 90px;
}

.pagination {

	li {
		overflow: hidden;
		background: #cccccc;

		.prev,
		.next {
			line-height: 25px !important;
		}

		.current {
			color: white;
			background: #0085ba;
		}
	}

	span {
		display: inline-block;
		padding: 0 10px;
		font-size: 1.2rem;
		line-height: 30px;
		color: #444444;
	}
}
