.currentDate{
	display: none;
}
.support-hours-settings{
  p.submit{
  		display: inline-block;
  		margin: 0 !important;
  		padding: 0 !important;
  }
  fieldset{
    padding: 0;
  }
  p, h3{
    display: block;
    margin:0;
    padding: 15px 0;
  }
}
.type-switch{
	label{
		display: block;
	}
}
.datepicker-controls .select-month input {
    width: 90px;
}