.currentDate {
	display: none;
}

.support-hours-settings {

	p.submit {
		display: inline-block;
		padding: 0 !important;
		margin: 0 !important;
	}

	fieldset {
		padding: 0;
	}

	p,
	h3 {
		display: block;
		padding: 15px 0;
		margin: 0;
	}
}

.type-switch {

	label {
		display: block;
	}
}

.sh-footer {
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}
