.outerCircle{
  padding-bottom: 40px;
  padding-right: 40px;
  position:relative;
  display: inline-block;
  margin:20px;
}
.circle {
  position:relative;
  width: 280px;
  height: 280px;
}
.arc_q {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border-radius:50%;
  border:20px solid;
  border-color:transparent #008ec2 transparent transparent;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: 2;
}
.cover{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border-radius:50%;
  border:20px solid;
  border-color:transparent #cccccc transparent transparent;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  z-index: 3;
}
.outer{
  width: 100%;
  height: 100%;
  border: 20px solid;
  border-color: white;
  border-radius: 50%;
  z-index: 6;
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 20px;
}
.center{
  width: 100%;
  height: 100%;
  border-radius:50%;
  background: #cccccc;
  z-index: 1;
  position: relative;
  padding: 20px;
}
.inner{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 7;
  top: 0px;
}
.innerCicle{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 12;
  border-radius: 50%;
  background: white;
  margin-top: 20px;
  margin-left: 20px;
  transition: all 0.2s ease-in;
}
.textHolder{
  display: block;
  top: 50%;
  position: relative;
}
.text{
  text-align: center;
  display: block;
  color:#cccccc;
  font-weight: bold;
  margin-top: -60px;
  font-size: 40px;
  transition: all 0.2s ease-in;
  line-height: 60px;
  position: absolute;
  width: 100%;
}
.innerCicle:hover{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}
.innerCicle:hover .text{
  font-size: 50px;
  color:#008ec2;
}
@media screen and (max-width: 870px) {
  .circle {
    width: 200px;
    height: 200px;
  }
  .text{
    font-size: 30px;
    line-height: 40px;
    margin-top: -40px;
  }
  .innerCicle:hover .text{
    font-size: 40px;
  }
}
